{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class='container' style='margin-bottom:1.5%'>
  <div class="card">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <tbody>
          <tr>
            <td>
              <div class="d-flex px-2 py-1">
                <div>
                  <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">{{request.user.lastname}}</h6>
                  <p class="text-xs text-secondary mb-0">{{request.user.phone}}</p>
                </div>
              </div>
            </td>

            <td>
              <div class="d-flex px-0 py-1">
                <div>
                  <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-3.jpg" class="avatar avatar-sm me-3">
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">Driver</h6>
                  <p class="text-xs text-secondary mb-0">{{request.user.phone}}</p>
                </div>
              </div>
            </td>

          </tr>

          <tr>
            <td>
              <div class="d-flex px-2 py-1">
                <div>
                  <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">Start Location</h6>
                </div>
              </div>
            </td>

            <td>
              <div class="d-flex px-2 py-1">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">{{origin}}</h6>
                </div>
              </div>
            </td>

          </tr>

          <tr>
            <td>
              <div class="d-flex px-2 py-1">
                <div>
                  <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">End Location</h6>
                </div>
              </div>
            </td>

            <td>
              <div class="d-flex px-2 py-1">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">{{destination}}</h6>
                </div>
              </div>
            </td>

          </tr>

          <tr>
            <td>
              <div class="d-flex px-2 py-1">
                <div>
                  <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">Distance</h6>
                </div>
              </div>
            </td>

            <td>
              <div class="d-flex px-2 py-1">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">{{distance}}</h6>
                </div>
              </div>
            </td>

          </tr>

          <tr>
            <td>
              <div class="d-flex px-2 py-1">
                <div>
                  <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">Duration</h6>
                </div>
              </div>
            </td>

            <td>
              <div class="d-flex px-2 py-1">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-xs">{{duration}}</h6>
                </div>
              </div>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class='container' style='height:400px'>
  <div id='map-route' style='height:100%'></div>
</div>
{% endblock content %}
{% block extend_footer %}
  <script>
    var google_api_key = "{{google_api_key|safe}}";
    var lat_a = {{lat_a|safe}};
    var long_a = {{long_a|safe}};
    var lat_b = {{lat_b|safe}};
    var long_b = {{long_b|safe}};
    var origin = "{{origin|safe}}";
    var destination = "{{destination|safe}}";
    var directions = {{route|safe}}
  </script>
  <script src="{% static 'js/map/map_initial.js' %}"></script>
{% endblock extend_footer %}


